/__pycache__/
.DS_Store
/tests/__pycache__
/tests/.pytest_cache/
/tests/.test_contact.py.swp
/.pytest_cache/
*.swp
/env/
/static/dist
/static/node_modules
/static/package-lock.json
/server/__pycache__/
/static/js/components/__tests__/__snapshots__/
/server/tests/__pycache__
/server/src/__pycache__
