{% extends 'layout.html' %}

{% block body %}

{% if message is none: %}
  {% set message = "" %}
{% endif %}

<div id="messages">{{message}}</div>
  <form action="/contacts" method="post" id="form-add">
      Name:
      <input type="text" name="name" id="form-name"><br>
      Telephone:
      <input type="number" name="telephone" id="form-telephone"><br>
      <input type="submit" value="Add contact" id="submit">
  </form>

  {% for contact in contacts %}
    <div id="single-contact">
      <i class="far fa-user"></i> {{contact.name}}<br>
      <i class="fas fa-phone"></i> {{contact.telephone}}<br>

      <form action="/contacts/delete/id={{contact.id}}" method="post" id="form-delete">
        <input type="submit" value="❌ delete" name="delete" id="delete-{{contact.name}}">
      </form>

      <form action="contacts/edit" method="post" id="form-edit">
        <input type="hidden" value={{contact.id}} name="id">
        <input type="submit" value="✏️  edit" name="edit" id="edit">
      </form>
    </div>
  {% endfor %}

{% endblock %}
