<html>
  <head>
    <meta charset="utf-8">
    <title>Contacts Manager</title>
  </head>
  <body>
    <div id="messages">{{ message }}</div>
    <form action="/add" method="post">
        Enter the name of new contact:<br>
        <input type="text" name="name" id="form-name"><br>
        Enter the telephone of new contact:<br>
        <input type="text" name="telephone" id="form-telephone"><br>
        <input type="submit" value="Submit" id="submit">
    </form>
    {% block body %} {% endblock %}
  </body>
</html>
