<html>
  <head>
    <meta charset="utf-8">
    <title>Contacts Manager</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/general.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
  </head>
  <body>
    <div id="reactEntry"></div>
  <div id="welcome-message">Contacts Manager</div>
  <div id="like_button_container"></div>
    {% block body %} {% endblock %}
    <script src="../static/like_button.js"></script>
  </body>
</html>
