html {
  background-color: #f5f2f2;
  font-family: Roboto;
  margin: 0;
}

#welcome-message {
  font-size: 1.2em;
  text-align: center;
  padding-bottom: 3em;
}

#single-contact {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ff6363;
  margin-bottom: 0.5em;
  padding: 0.2em;
  height: 4em;
}

#form-add {
  text-align: center;
}

#form-delete {
  text-align: center;
  display: contents;
}

#delete {
  float: right !important;
  font-size: 3em;
}
